In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\athar\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\athar\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\athar\appdata\roaming\python\python312\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\athar\appdata\roaming\python\python312\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\athar\appdata\roaming\python\python312\site-packages (from pandas) (2025.1)
Requirement already satisfied: et-xmlfile in c:\users\athar\appdata\roaming\python\python312\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\athar\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Load the dataset

In [10]:
file_path = r"C:\Atharv\Forage\BCG GenAI\Data Extraction.xlsx"
df = pd.read_excel(file_path, sheet_name="Sheet")
print(df.head())

     Company Fiscal Year Ended  Total Revenue   Net Income  Total Assets  \
0  Microsoft        2022-06-30   198270000000  72740000000  364840000000
1  Microsoft        2023-06-30   211920000000  77280000000  387660000000
2  Microsoft        2024-06-30   225500000000  82150000000  410500000000
3      Tesla        2021-12-31    53820000000   5520000000   62130000000
4      Tesla        2022-12-31    81460000000  12560000000   82340000000

   Total Liabilities     Cash Flow
0       191790000000   89040000000
1       202980000000   95200000000
2       215300000000  100500000000
3        28400000000   11500000000
4        33100000000   14720000000

In [ ]:
# Convert financial columns to numeric

In [11]:
cols_to_convert = ["Total Revenue", "Net Income", "Total Assets", "Total Liabilities", "Cash Flow"]
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric)

In [ ]:
# Convert Fiscal Year column to datetime for sorting

In [12]:
df["Fiscal Year Ended"] = pd.to_datetime(df["Fiscal Year Ended"])

In [ ]:
# Sort by Company and Fiscal Year

In [13]:
df = df.sort_values(by=["Company", "Fiscal Year Ended"])

In [ ]:
# Calculate Year-over-Year Percentage Growth

In [14]:
df["Revenue Growth (%)"] = df.groupby("Company")["Total Revenue"].pct_change() * 100
df["Net Income Growth (%)"] = df.groupby("Company")["Net Income"].pct_change() * 100
df["Assets Growth (%)"] = df.groupby("Company")["Total Assets"].pct_change() * 100
df["Liabilities Growth (%)"] = df.groupby("Company")["Total Liabilities"].pct_change() * 100
df["Cash Flow Growth (%)"] = df.groupby("Company")["Cash Flow"].pct_change() * 100

In [15]:
df.head(10)

,Company,Fiscal Year Ended,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow,Revenue Growth (%),Net Income Growth (%),Assets Growth (%),Liabilities Growth (%),Cash Flow Growth (%)
6,Apple,2021-09-25,365820000000,94680000000,351000000000,287910000000,104040000000,NaN,NaN,NaN,NaN,NaN
7,Apple,2022-09-24,394330000000,99800000000,352760000000,302830000000,109180000000,7.793450,5.407689,0.501425,5.182175,4.940408
8,Apple,2023-09-30,383000000000,96900000000,351000000000,300000000000,100000000000,-2.873228,-2.905812,-0.498923,-0.934518,-8.408133
0,Microsoft,2022-06-30,198270000000,72740000000,364840000000,191790000000,89040000000,NaN,NaN,NaN,NaN,NaN
1,Microsoft,2023-06-30,211920000000,77280000000,387660000000,202980000000,95200000000,6.884551,6.241408,6.254797,5.834506,6.918239
2,Microsoft,2024-06-30,225500000000,82150000000,410500000000,215300000000,100500000000,6.408079,6.301760,5.891761,6.069564,5.567227
3,Tesla,2021-12-31,53820000000,5520000000,62130000000,28400000000,11500000000,NaN,NaN,NaN,NaN,NaN
4,Tesla,2022-12-31,81460000000,12560000000,82340000000,33100000000,14720000000,51.356373,127.536232,32.528569,16.549296,28.000000
5,Tesla,2023-12-31,94000000000,15000000000,93000000000,35000000000,16000000000,15.394058,19.426752,12.946320,5.740181,8.695652

In [1]:
!pip install flask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in c:\users\athar\appdata\roaming\python\python312\site-packages (3.1.0)
Requirement already satisfied: Werkzeug>=3.1 in c:\users\athar\appdata\roaming\python\python312\site-packages (from flask) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\athar\appdata\roaming\python\python312\site-packages (from flask) (3.1.6)
Requirement already satisfied: itsdangerous>=2.2 in c:\users\athar\appdata\roaming\python\python312\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\athar\appdata\roaming\python\python312\site-packages (from flask) (8.1.8)
Requirement already satisfied: blinker>=1.9 in c:\users\athar\appdata\roaming\python\python312\site-packages (from flask) (1.9.0)
Requirement already satisfied: colorama in c:\users\athar\appdata\roaming\python\python312\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\athar\appdata\roaming\python\python312\site-packages (from Jinja2>=3.1.2->flask) (3.0.2)

In [2]:
def load_data(file_path):
    df = pd.read_excel(file_path, sheet_name="Sheet")
    df["Company"] = df["Company"].ffill()
    df["Fiscal Year Ended"] = pd.to_datetime(df["Fiscal Year Ended"])
    df = df.sort_values(by=["Company", "Fiscal Year Ended"], ascending=[True, False])
    return df

In [10]:
def simple_chatbot(user_query, company, df):
    latest_data = df[df["Company"] == company].iloc[0]  # Get latest year's data
    
    if user_query == "What is the total revenue?":
        return f"The total revenue for {company} in {latest_data['Fiscal Year Ended'].year} was ${latest_data['Total Revenue']:,.2f}."
    elif user_query == "How has net income changed over the last year?":
        return f"The net income for {company} in {latest_data['Fiscal Year Ended'].year} was ${latest_data['Net Income']:,.2f}."
    elif user_query == "What are the total assets?":
        return f"The total assets for {company} in {latest_data['Fiscal Year Ended'].year} were ${latest_data['Total Assets']:,.2f}."
    elif user_query == "What are the total liabilities?":
        return f"The total liabilities for {company} in {latest_data['Fiscal Year Ended'].year} were ${latest_data['Total Liabilities']:,.2f}."
    elif user_query == "What is the cash flow from operating activities?":
        return f"The cash flow from operating activities for {company} in {latest_data['Fiscal Year Ended'].year} was ${latest_data['Cash Flow']:,.2f}."
    else:
        return "Sorry, I can only provide information on predefined queries."

if __name__ == "__main__":
    file_path =  r"C:\Atharv\Forage\BCG GenAI\Data Extraction.xlsx"
    df = pd.read_excel(file_path, sheet_name="Sheet")
    
    company = input("Enter the company name (e.g., Microsoft, Tesla, Apple): ")
    query = input("Ask a financial question: ")
    response = simple_chatbot(query, company, df)
    print(response)

Enter the company name (e.g., Microsoft, Tesla, Apple):  Tesla
Ask a financial question:  What is the total revenue?

The total revenue for Tesla in 2021 was $53,820,000,000.00.